@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Total Students</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <span class="h3">@Model.StartStudentCount</span>
                    <a class="small text-white stretched-link" asp-page="/Students">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Total Teachers</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <span class="h3">@Model.TeacherCount</span>
                    <a class="small text-white stretched-link" asp-page="/Teachers">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Active Classes</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <span class="h3">@Model.ClassCount</span>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Attendance (Today)</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <span class="h3">--%</span>
                    <div class="small text-white">Not Implemented</div>
                </div>
            </div>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="col-xl-3 col-md-6">
                <div class="card bg-info text-white mb-4">
                    <div class="card-body">User Management</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <span class="small text-white">Manage System Users</span>
                        <a class="small text-white stretched-link" asp-page="/Admin/Users/Index">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
