@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "وصول غير مسموح";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">ليس لديك صلاحية للوصول إلى هذه الصفحة.</p>
</header>
