@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تأكيد استعادة كلمة المرور";
}

<h1>@ViewData["Title"]</h1>
<p>
    تأكيد استعادة كلمة المرور. يرجى فحص بريدك الإلكتروني لإعادة تعيين كلمة المرور الخاصة بك.
</p>
